body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.messages-container {
  scroll-behavior: smooth;
  overflow-y: auto;
  /* other styles */
}
