/* DropdownSettings.module.css */
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the button to the start of the flex container */
  width: 75%;
}
.button {
  padding: 10px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 5px;
  border-radius: 20px;
}

.button:hover {
  background-color: rgb(0, 93, 193);
}
/* DropdownSettings.module.css */
@keyframes popEffect {
  0% {
    transform: scale(0.5); /* Start at half size */
    opacity: 0;
  }
  50% {
    transform: scale(1.1); /* Slightly larger than normal to create a pop */
    opacity: 0.5;
  }
  100% {
    transform: scale(1); /* Scale back to normal size */
    opacity: 1;
  }
}

.dropdownContent {
  transform-origin: top center;
  animation: popEffect 0.3s ease-out forwards; /* Use forwards to maintain the final state */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  opacity: 0; /* Start fully transparent */
  width: 100%;
}

.dropdownContentClosed {
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%; /* Ensures dropdown content takes full width of its container */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* DropdownSettings.module.css */
.submitButton {
  padding: 10px;
  margin-top: 10px; /* Space from the last option */
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.submitButton:hover {
  background-color: #45a049; /* Darker green on hover */
}
